/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* uppercase */
.uppercase {
  text-transform: uppercase;
}
/* Box-sizing: content-box | padding-box | border-box */
/* Transition */
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
a {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  color: #113058;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  height: 100%;
}
html {
  color: #113058;
  font: 16px 'brandon', sans-serif;
}
body {
  background: #061425;
}
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 7.5625rem;
  padding: 1.75rem 0 1.75rem 0;
}
.logo-group {
  position: relative;
  float: left;
}
.logo-group h1 {
  margin: 0 0 0 1.25rem;
  line-height: .75em;
  font-size: 5.419375em;
}
.logo-group h2 {
  position: absolute;
  top: -1px;
  right: 0;
  margin: 0;
  background: #061425;
  text-transform: uppercase;
  line-height: 2.5rem;
  font-size: 1.25em;
  font-weight: 400;
}
.logo-group h2.ui-designer {
  padding: 0 .6rem;
}
.nav {
  float: left;
  margin: 0 0 0 9.6875rem;
}
.nav .nav-item {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 4.225rem 0 0;
  font-size: 0.714375;
}
.nav .nav-item:last-child {
  margin: 0;
}
.social {
  float: right;
  margin: 0 1.625rem 0 0;
}
.social .social-item {
  display: inline-block;
  margin: 0 .5rem;
  line-height: 1.2em;
  font-size: 2em;
}
.social .social-item a:hover {
  color: #1b5ba9;
}
.btn {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 1.75em;
  padding: .6rem .5rem;
  line-height: .85em;
}
.btn:before {
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 1.75em;
  border: 2px solid #123460;
}
.btn:hover:before {
  width: 140%;
  height: 2.75em;
  margin: -0.5em 0 0 -20%;
}
main {
  height: 92.4375%;
}
.fotorama {
  padding: 8% 0 0;
}
.fotorama__arr--prev {
  background: none;
  text-align: right;
}
.fotorama__arr--prev:before {
  content: "\e804";
  font-family: 'fontello';
  font-size: 2em;
  color: #113058;
}
.fotorama__arr--next {
  background: none;
}
.fotorama__arr--next:before {
  content: "\e803";
  font-family: 'fontello';
  font-size: 2em;
  color: #113058;
}
.fotorama__html {
  text-align: center;
}
.fotorama__html img {
  max-width: 90%;
}
@media screen and (max-width: 1140px) {
  .nav {
    margin: 0 0 0 10%;
  }
  .nav .nav-item {
    margin: 0 3.5rem 0 0;
  }
  .fotorama {
    padding: 7% 0 0;
  }
}
@media screen and (max-width: 980px) {
  html {
    font-size: 15px;
  }
  .btn {
    line-height: .75em;
  }
  .social .social-item {
    font-size: 1.5em;
  }
  .fotorama {
    padding: 6% 0 0;
  }
}
@media screen and (max-width: 880px) {
  html {
    font-size: 14px;
  }
  .logo-group h2 {
    top: -1px;
  }
  .fotorama {
    padding: 5% 0 0;
  }
}
@media screen and (max-width: 820px) {
  html {
    font-size: 12px;
  }
  .logo-group h2 {
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 10px;
  }
  .logo-group h2 {
    line-height: 2.4rem;
  }
  .fotorama {
    padding: 12% 0 0;
  }
}
@media screen and (max-width: 620px) {
  html {
    min-width: 600px;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
